[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/AutoAlign"]
	path = .vim/bundle/AutoAlign
	url = git://github.com/vim-scripts/AutoAlign.git
