[alias]
  br = branch
  ci = commit
  co = checkout
  dc = diff --cached
  df = diff
  flog = log --pretty=medium
  l = log --pretty='%C(yellow)%h %C(green)%an %ad %C()%s' --date=short --graph
  l20 = log --pretty='%C(yellow)%h %C(green)%an %ad %C()%s' -20 --date=short --graph
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  st = status
  standup = log --since yesterday --oneline --author 'Ed Saunders'
[color]
  branch = auto
  diff = auto
  status = auto
[core]
  excludesfile = ~/.gitignore_global
[credential]
  helper = cache --timeout=3600
[format]
  pretty = format:%C(yellow)%h %C(green)%ai %an%C(yellow) | %C()%s%C(auto)%d
[instaweb]
  browser = google-chrome
  httpd = apache2ctl
  port = 12345
[log]
  decorate = true
[merge]
  conflictstyle = diff3
[pager]
  diff = /home/esaunder/sites/git/git/contrib/diff-highlight/diff-highlight | less
  log =  /home/esaunder/sites/git/git/contrib/diff-highlight/diff-highlight | less
  show = /home/esaunder/sites/git/git/contrib/diff-highlight/diff-highlight | less
[push]
  default = current
[user]
	email = edsaunders@notonthehighstreet.com
	initials = es
	name = Ed Saunders
[web]
  browser = google-chrome
