[user]
  email = EdSaunders@notonthehighstreet.com
  name = Ed Saunders
[core]
  excludesfile = /home/esaunder/.gitignore_global
[credential]
  helper = cache --timeout=3600
[color]
  diff = auto
  branch = auto
  status = auto
[log]
  decorate = true
[instaweb]
  httpd = apache2ctl
  browser = google-chrome
  port = 12345
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  l20 = log --pretty='%C(yellow)%h %C(green)%an %ad %C()%s' -20 --date=short --graph
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  standup = log --since yesterday --oneline --author 'Ed Saunders'
[push]
  default = current

